body {
  background-image: url("background.jpg");
  background-size: 1920px 1080px;
  text-align: center;
  font-family: helvetica;
}
.button1 {
			color: #70f030;
            font-size: 50px;
        }
h1 {
  color: white;
  
}
h2 {
  color: white;
}
h3 {
  color: white;
}

p {
  font-size: 20px;
}
