body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
}
h2 {
  color: white;
  font-family: verdana;
}
h3 {
  color: white;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
}

a {
  color: gray;
  font-family: verdana;
}