body {
  background-color: wheat;
}

h1 {
  color: skyblue;
  text-align: center;
  font-family: verdana;
}
h2 {
  color: skyblue;
  font-family: verdana;
}
h3 {
  color: skyblue;
  font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
}
